Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/*

!Content/Blueprints
!Content/Developers
!Content/GameBP
!Content/Maps
!Content/Materials
!Content/Textures
!Content/Fonts
!Content/ThirdPerson
!Content/MainMenu
!Content/GameplayElements
!Content/Input

/.idea/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
